.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  border-radius: 8px;
  margin: 4rem;
}

.product-title {
  font-size: 1.2rem;
  text-align: center;
}

.product-price {
  align-items: center;
  text-align: center;
  color: darkslateblue;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.product-description {
  text-align: center;
}
