.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  margin-top: 16px;
}

.price {
  display: flex;
  justify-content: space-between;
}
.product-item {
  width: 20rem;
  max-width: 95%;
  border-radius: 8px;
  margin: 1rem;
  margin-top: 16px;
}

.product-title {
  font-size: 1.2rem;
  text-align: center;
}

.product-price {
  align-items: center;
  text-align: center;
  color: darkslateblue;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.product-description {
  text-align: center;
}
